:root {
    padding: 0;
    margin: 0;
}

nav {
    background-color: #8ECAE6;
}

ul {
    margin-left: auto;
}

#home {
    /* background-color: #FB8500; */
    margin-right: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    font-weight: bolder;
    color: black;
}

.list-items {   
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 700;
}

.section-heading {
    padding-top: 20px;
}



.section-intro {
    padding-top: 10px;
    /* padding-left: 4rem;
    padding-right: 4rem; */
} 

.sizing {
    /* height: auto;
    width: 100%; */
    padding-bottom: 2rem;
}

.events-heading {
    padding-top: 20px;
    padding-bottom: 10px;
}

.events-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.events-poster {
    transition: ease-in, 0.5s;
}

.events-poster:hover {
    transform: scale(0.95);
}

.events-bg {
    background-color: #E1EFE6;
}

.button-position {
    padding-top: 20px;
    padding-bottom: 20px;
}

.my-btn {
    transition: ease-in, 0.7s;
}

.my-btn:hover {
    transform: scale(1.1);
}

.testimonials-head {
    padding-top: 40px;
}

.testimonials-btn {
    color: black;
    background-color: #FB8500;
}

.testimonials-content {
    padding-top: 20px;
}

.btn-color {
    background-color: #E1EFE6;
    color: black;
}

.social-icons {
    padding-right: 50px;
    transition: ease-out, 0.7s;
}

.social-icons:hover {
    transform: scale(1.3);
}

.my-footer {
    background-color: #8ECAE6;

}

.copyright {
    color: white;
    background-color: black;
    font-size: 0.7rem;
} 